<!DOCTYPE html>
<html lang="<%= i18n.getLocale() %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= i18n.__('title') %></title>
    <!-- Meta -->
    <%- include('meta', {i18n}) %>
    <!-- CSS -->
    <link rel="stylesheet" href="css/tailwind.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="alternate" href="/" hreflang="x-default" />
    <link rel="alternate" hreflang="<%= i18n.__('lang-alt') %>" href="https://amigosdenoel.com<%= i18n.__('home-alt') %>" />
</head>
<body class="with_down">
    <!-- Header -->
    <%- include('includes/header', {i18n}) %>
    <!-- Noel -->
    <section class="noel flex flex-col justify-center items-center">
        <h1 class="text-6xl text-gray-100"><%= i18n.__('title') %></h1>
        <h3 class="text-2xl text-gray-200"><%= i18n.__('Vision') %></h3>
    </section>

    <!-- GOALS -->
    <section class="goals">
        <h2 class="ml-5 text-5xl"><%= i18n.__('goals') %></h2>
        <div class="flex">
            <div class="goal_box flex-1 p-5 mx-5 my-2">
                <h3 class="text-gray-100 text-2xl"><%= i18n.__('goals-meta1-title') %></h3>
                <p class="text-justify">
                    <%= i18n.__('goals-meta1-p1') %><br><br>
                </p>
                <p class="text-justify">
                    <%= i18n.__('goals-meta1-p2') %>
                </p>
            </div>
            <div class="goal_box flex-1 p-5 mx-5 my-2">
                <h3 class="text-gray-100 text-2xl"><%= i18n.__('goals-meta2-title') %></h3>
                <p class="text-justify"><%= i18n.__('goals-meta2-p') %></p>
            </div>
            <div class="goal_box flex-1 p-5 mx-5 my-2">
                <h3 class="text-2xl"><%= i18n.__('goals-meta3-title') %></h3>
                <p class="text-justify"><%= i18n.__('goals-meta3-p') %></p>
            </div>
        </div>
    </section>

    <!-- Info -->
    <section class="info bg-gray-200">
        <h2 class="text-5xl text-right mr-5 mb-5"><%= i18n.__('History') %></h2>
        <div class="cards flex">
            <div class="card flex-1 rounded-md">
                <h3 class="mt-5 text-center"><%= i18n.__('h-1-title') %></h3>
                <!-- Texto -->
                <div class="card_text shadow-2xl  rounded-md">
                    <p>
                        <%= i18n.__('h-1-p1') %><br><br>
                        <%= i18n.__('h-1-p12') %><br><br>
                    </p>
                    <p>
                        <%= i18n.__('h-1-p2') %>
                    </p>
                </div>
                <!-- History -->
                <div class="history shadow-2xl  rounded-md">
                    <%= i18n.__('h-1-legend') %>
                </div>
            </div>

            <div class="card flex-1 rounded-md">
                <h3 class="mt-5 text-center"><%= i18n.__('h-2-title') %></h3>
                <h4 class="text-center"><%- i18n.__('h-2-fund') %></h4>
                <!-- Texto -->
                <div class="card_text shadow-2xl  rounded-md">
                    <p>
                        <%- i18n.__('h-2-p1') %>
                    </p>
                    <p>
                        <%- i18n.__('h-2-p2') %>
                    </p>
                    <p>
                        <%- i18n.__('h-2-p3') %>
                    </p>
                    <p>
                        <%= i18n.__('h-2-p4') %>
                    </p>
                </div>

                <!-- History -->
                <div class="history shadow-2xl  rounded-md">
                    <%= i18n.__('h-2-legend') %>
                </div>
            </div>

            <div class="card flex-1 rounded-md">
                <h3 class="mt-5 text-center">Noel</h3>
                <!-- Texto -->
                <div class="card_text shadow-2xl  rounded-md">
                    <p><%- i18n.__('h-3-p1') %></p>
                    <p>
                        <%- i18n.__('h-3-p2') %>
                    </p>
                    <p>
                        <%- i18n.__('h-3-p3') %>
                    </p>
                </div>

                <!-- History -->
                <div class="history shadow-2xl  rounded-md">
                    <%= i18n.__('h-3-legend') %>
                </div>
            </div>
        </div>
    </section>
    <!-- Colaboración -->
    <section id="colaboration">
        <h2 class="ml-5 text-5xl"><%- i18n.__('colaboration-title') %></h2>
        <div class="donation">
            <h3 class="text-2xl"><%= i18n.__('donation') %></h3>
            <p>
                <%- i18n.__('donation-content') %>
                <ul>
                    <li>
                        <a href="#">Paypal</a>
                    </li>
                </ul>
            </p>
        </div>
        <div class="team">
            <h3 class="text-2xl"><%= i18n.__('team') %></h3>
            <p>
                <%- i18n.__('team-content') %>
                <ul>
                    <li><a href="mailto:<%= i18n.__('email-contact') %>"><%= i18n.__('email-contact') %></a></li>
                    <li>Whatsapp: <a href="tel:3478248365">+1 347 824 8365</a></li>
                </ul>
            </p>
        </div>
    </section>
    <!-- Footer -->
    <%- include('includes/footer', {i18n}) %>
    <script src="./jo.js"></script>
</body>